<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="completedDate" value="2014-08-25"/>
    <add key="SingleMachine" value="true"/>
    <add key="sKey" value="11367"/>
    <add key="eKey" value="11367"/>
    <add key="sinkKey" value="10945,7933"/>

 
      <add key="Start" value="2014-01-01"/>
      <add key="End" value="2014-01-02"/>

    <!--<add key="Key" value="191,192,193,194,195,196,197,198,199,200,201" />-->
    <!--<add key="ScanDate" value="2015-01-09"/>-->
    <!--<add key="SessionCount" value="64"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
