<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="Start" value=""/>
    <add key="End" value=""/>
    <add key="MarketKey" value="9"/>
  </appSettings>
</configuration>
